body{
    font-family: 'Comic Sans MS';
}
.site-heading-lower{
    font-family: 'Comic Sans MS';
}
.mb-3{
    font-family: 'Comic Sans MS';
    color:rgb(187, 130, 24) !important;
}

.notyellow{
    color: black !important;
}
.intro-text{
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.5)
}

/*div styles
.common{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
}
.top{
    top: 0px;
    left: 0px;


*/